ul{
  list-style: none;
}
h1{
  color: blue;
}
.item{
  flex-basis: 20%;
  border: 1px solid grey;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  background-color: white;
}
.flex_between{
  justify-content: space-between;
}
.w-full{
  width: 100%;
}