.App {
  padding: 1rem 0;
  background-color: rgb(204 224 236 / 54%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
}
.container{
  width: 80%;
  .flex{
    display: flex;
    width: 100%;
    align-items: center;
  }
}